body{
  margin: 0;
  overflow-y: hidden;
  box-sizing: border-box;
}


/* Webkit Browsers */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #dfebfe;
  border-radius: 8px;
  width: 18px;
}
::-webkit-scrollbar-track {
  background: #fdfdfd;
  /* border-radius: 8px; */
  /* border:1px solid #cacaca; */
}


.outer-container {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #202124;
}

/* Top Bar */
.top-bar {
  -webkit-app-region: drag;
  background-color: #eaf1fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
}

/* Main Content Layout */
.main-content {
  flex: 1;
  display: flex;
  background-color: #f2f6fc;
}

/* Primary Menu */
.primary-menu {
  width: 180px;
  background-color: #f6f8fc;
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.primary-menu li:hover{
  background-color: #eaebef;
}

.primary-menu li{
  border-radius: 24px;
}
.primary-menu li{
  border-radius: 24px;
}
.primary-menu li button{
  padding: 0;
}
.secondary-menu {
    width: 140px;
    border-right: 1px solid #ddd;
    background-color: #f8f8f8;
}
/* Main Content Area */
.content-area {
  flex: 1;
  height: calc(100vh - 80px);
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}